scikit-learn>=0.22.1
PyYAML>=5.1.2
numpy
pytest
toolwrapper
joblib
sacremoses==0.0.53
bicleaner-hardrules>=2.3,<3.0
sentencepiece
glove-python-binary==0.2.0
fuzzywuzzy
python-Levenshtein
transformers>=4.10.3,<5.0.0
psutil
bifixer
pypi-kenlm